{% extends "partials/viewBase.twig" %}
{% block content %}
<div class="jumbotron" style="background: linear-gradient(to bottom, #430098 , #7673C0);">
 <div class="container">
   <h1><a href='./' style="color: #FFF;">Presky - Heroku Setup</a></h1>
 </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="color: #fff"; font-family="Montserrat"; font-size="71px">Hello User. Welcome to Presky.<br>We have initialized your current database.<br>We just need a few more information.</h1>
      <form action="{{ path_for('auth.signin') }}" method="post">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" name="email" class="form-control" id="email">
        </div>
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
    </div>
  </div>
</div>
{% endblock %}
